body {
  margin: 0;
}
p {
  margin: 0 !important;
  padding: 0;
}

/* header-sty */
.logo {
  width: 200px;
}

li {
  list-style: none;
}
@font-face {
  font-family: "Averta";
  src: local("Averta"),
    url(./assets/fonts/FontsFree-Net-AvertaStandard-Regular.ttf) format("woff");
}

.list {
  font-size: 14px;
  font-family: "AvertaStd";
  color: rgb(0, 0, 0);
  text-transform: uppercase;
}

.list:not(:last-child) {
  margin-right: 20px;
}

.Contact {
  font-size: 15px;
  font-family: "AvertaStd";
  color: rgb(255, 255, 255);
  background-color: #add8e6;
}
.Admissions {
  font-size: 15px;
  font-family: "AvertaStd";
  color: rgb(255, 255, 255);
  background-color: rgb(92, 207, 16);
}
.Franchise {
  font-size: 15px;
  font-family: "AvertaStd";
  color: rgb(255, 255, 255);
  background-color: rgb(243, 55, 180);
}

/* header-sty */
/* */

.design {
  width: 150px;
  position: absolute;
  top: 40px;
  right: 0;
}

.vector {
  left: 161px;
  position: absolute;
  top: 145px;
}
.poster {
  width: 500px;
}
.layer {
  margin-top: 435px;
}
.bird .content {
  position: absolute;
  right: -65px;
  bottom: 171px;
  line-height: 45px;
}

.bird .content .nurturing {
  color: #e63946;
  font-family: "arial";
  font-size: 32px;
  padding: 0 !important;
  font-weight: bold;
  transform: rotate(-10deg);
}
.bird .content .Little {
  color: #e63946;
  font-family: "arial";
  font-size: 32px;
  padding: 0 !important;
  font-weight: bold;
  line-height: 40px;
}

.bird .content .champs {
  color: #e63946;
  font-family: "arial";
  font-size: 32px;
  padding: 0 !important;
  font-weight: bold;
  transform: rotate(10deg);
}
.main-sec .layer_down1{
  width: 69px;
  position: absolute;
  bottom: 5px;

}

.main-sec .layer_down2{
  width: 70px;
  position: absolute;
  bottom: -109px;

}